.chat-message{
    max-width: 500px;
    border-radius: 40px;
    padding: 20px;
}
.chatMessage-container{
    overflow-x: hidden;
    overflow-y: auto;
    height: 700px;
}
.chatMessage-container::-webkit-scrollbar{
    display: none;
}