.home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  .nav {
    background: #2f3135;
    flex-basis: 7%;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 90%;
      margin: 0 auto;
      .nav-brand {
        width: 100px;
        a {
          display: flex;
          height: inherit;
          align-items: center;
          text-decoration: none;
          color: #fefefe;
          img {
            margin-right: 10px;
            width: 35px !important;
          }
        }
      }
    }
  }
  .main-home {
    flex-basis: 93%;
    .container {
      width: 75%;
      margin: 0 auto;
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: space-between;
      .main-home-content {
        h1 {
          margin-bottom: 10px;
        }
        h2 {
          font-size: 33px;
          font-weight: 400;
        }
        p {
          margin: 40px 0;
          width: 450px;
          font-size: 20px;
        }
        .btn-container {
          Button {
            margin-right: 15px;
          }
        }
      }
      .main-home-pic {
        img {
          width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 600px){
    .main-home{
      .container{
        width: 85%;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: center;
        .main-home-content{
          flex-basis: 100%;
          p{
            width: unset;
            font-size: 18px;
            code{
              font-weight: 600;
            }
          }
        }
        .main-home-pic{
          display: none;
          img{
            display: none;
          }
        }
      }
    }
  }


}
